<div class="container">
  <!-- As a link -->
  <nav class="bg-light navbar bg-body-tertiary" >
    <div class="container-fluid">
      <a class="navbar-brand bg-light" href="#">Home</a>
    </div>
  </nav>

   <div class="row">
    
    <div class="col-md-10 offset-md-1">
      <form (ngSubmit)="formSubmit()" style="width:100%;text-align:left;background-color:lightblue;">
        <div class="form-group">
          <label><h5>Enter your Name</h5></label>
          <input type="text"  [(ngModel)]="employees.name" name="name" class="form-control" placeholder="Enter your name">
        </div><br>
        <div class="form-group">
          <label><h5>1. Do you feel valued at work?</h5></label>
          <select class="form-control"  [(ngModel)]="employees.valuedAtWorks" name="valuedAtWorks" form="Please select rating behalf of work">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>       
          </select>
          </div><br>
        <label><h5>2. How would you describe your overall level of job satisfaction?</h5></label>
        <div class="col-md-9">
            <div class="col-4">
              <input type="radio" [(ngModel)]="employees.overallSatisfaction" name="overallSatisfaction" value="Very satisfied"/>Very satisfied<br>
              <input type="radio" [(ngModel)]="employees.overallSatisfaction" name="overallSatisfaction" value="Satisfied"/>Satisfied<br>
              <input type="radio" [(ngModel)]="employees.overallSatisfaction" name="overallSatisfaction" value="Neutral"/>Neutral<br>
              <input type="radio" [(ngModel)]="employees.overallSatisfaction" name="overallSatisfaction" value="Dissatisfied"/>Dissatisfied<br>
              <input type="radio" [(ngModel)]="employees.overallSatisfaction" name="overallSatisfaction" value="Very dissatisfied"/>Very dissatisfied
          </div>
        </div><br>
       <!---->
       <label><h5>3. How do you feel at job in week days ?</h5></label>
       <div class="col-md-9">
           <div class="col-4">
             <input type="radio" [(ngModel)]="employees.dayOfWeek" name="dayOfWeek" value="Monday"/>Monday<br>
             <input type="radio" [(ngModel)]="employees.dayOfWeek" name="dayOfWeek" value="Tuesday"/>Tuesday<br>
             <input type="radio" [(ngModel)]="employees.dayOfWeek" name="dayOfWeek" value="Wednesday"/>Wednesday<br>
             <input type="radio" [(ngModel)]="employees.dayOfWeek" name="dayOfWeek" value="Thursday"/>Thursday<br>
             <input type="radio" [(ngModel)]="employees.dayOfWeek" name="dayOfWeek" value="Friday"/>Friday
         </div>
       </div><br>
 
       <!---->
        <label><h5>4. Please Provide Any Additional Feedback.</h5></label>
          <div class="form-group">
              <input type="text" [(ngModel)]="employees.feedbacks" name="feedbacks" class="form-control" placeholder="Please provide feedback"/>
          </div>
          <br>

        <button type="submit" class="btn btn-success">Submit</button>
</form><br>

      <h4 class="text-center" style="background-color:slategray;">Employee Satisfaction Report </h4>
       <table class="table text-center" border="2" style="width:100%;text-align:left;background-color:beige;">
        <tr>
          <th>Employee_ID</th>
          <th>Emplouee_Name</th>
          <th>Over All Satisfaction</th>
          <th>Valued at work</th>
          <th>Day_Of_Week</th>
          <th>Feedback</th>     
        </tr>
        <tr *ngFor="let emp of employee">
          <td>{{emp.id}}</td>
          <td>{{emp.name}}</td>
          <td>{{emp.overallSatisfaction}}</td>
          <td>{{emp.valuedAtWorks}}</td>
          <td>{{emp.dayOfWeek}}</td>
          <td>{{emp.feedbacks}}</td> 
        </tr>      
      </table>      
    </div>
</div>